
/* font style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* header style */

body{
    font-family: 'Poppins', sans-serif;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle{
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
}
basic-text{
    color: #EBEEEF;
}
.head{
    background-color: #264653;
    color: #fff;
    

}
.new{
    color: rgb(255, 242, 242);
    background-color: #E76F51;
    
}
/* featured bike styles */


.gray-scale{
    filter: grayscale(100%);
}
/* happy client style */

.user{
    
    width: 149px;
    left: 87px;
    top: 40px;
    height: 149px;
    margin: 30px 0px;
}
.star{
    color: #f54c18;
    margin: 15px 0px;
}

span{
    color: rgb(241, 132, 59);
}

a{
    font-size: 1.3em;
    color: #EBEEEF;
}